# Node modules
node_modules/


# Build and distribution outputs
dist/
build/
localpycs/


venv/
*/venv/
.venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd


# VS Code and development artifacts
.vscode/
.vscode-test.mjs
.vscode-test/


backend/arc1610_api.exe
*.exe
