# Node modules
node_modules/


# Build and distribution outputs
arc1610_api.exe
build/
localpycs/


venv/
*/venv/
.venv/
env/
.env

__pycache__/



# VS Code and development artifacts
.vscode/
.vscode-test.mjs
.vscode-test/


backend/arc1610_api.exe
*.exe
